standalone-smach
Pillow>=10.0.1
beautifulsoup4
tensorflow
py4j
torch<2.0.0
torchvision
sktime==0.6.1
networkx
termcolor
matplotlib
pandas
numpy
tsai==0.3.9
git+https://github.com/tbohne/obd_ontology.git@v0.1.4
git+https://github.com/tbohne/oscillogram_classification.git@v0.1.7
