standalone-smach
beautifulsoup4
tensorflow
py4j
networkx
termcolor
matplotlib==3.1.2
pandas
numpy
git+https://github.com/tbohne/obd_ontology.git@milestone_demo
git+https://github.com/tbohne/oscillogram_classification.git@milestone_demo
