standalone-smach
Pillow>=10.0.1
beautifulsoup4
tensorflow
py4j
networkx
termcolor
matplotlib
pandas
numpy
git+https://github.com/tbohne/obd_ontology.git@final_demonstrator
git+https://github.com/tbohne/oscillogram_classification.git
